* {
  all: unset;
  background-color: transparent;
  color: #ffffff;
  font-family: 'JetBrainsMono Nerd Font', monospace;
  font-size: 13px;
  font-weight: bold;
}

.top-bar {
  background: transparent;
  margin-top: 0;
}

.hidden-bar {
  background: black;
}

.settings-window {
  background: #15141b;
  border: 1px solid #222027;
  box-shadow: 1px 2px 8px -1px rgba(7,7,7,0.74);
  border-radius: 10px;
  padding: 10px;
}

.section-container {
  margin-left: 20px;
  margin-right: 20px;
  background: #15141b;
  margin-bottom: 5px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #222027;
  box-shadow: 1px 2px 8px -1px rgba(7,7,7,0.74);
}

.section-center, .section-left, .section-right {
  margin: 5px 10px;
  padding: 0 20px;
}

.workspace,
.workspace-active,
.workspace-urgent {
  padding: 5px;
  margin: 0 5px;
  font-size: 10px;
  background-color: transparent;
  transition: background-color 0.8s ease;
}

.workspace-active {
  color: #ffffff;
  font-weight: bold;
  transition: color 0.8s ease;
}
.workspace-urgent {
  color: #8cfba4;
}

.workspace:hover {
  color: #e46c6c;
}

.workspace-active {
  border: none;
  color: #e46c6c;
}

.separator {
  margin: 0 10px;
  color: #555555;
}

.custom-app, button {
  margin: 0 3px;
  padding: 0 7px;
}

.custom-app:hover {
  color: #e46c6c;
}

.app-button.opened {
  border-bottom: 2px solid #e46c6c;
}

.clock-container {
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

button.cancel {
  border: 1px solid #ff5555;
  padding: 5px 10px;
}

button.info {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
}

.calendar-window {
  background: #15141b;
  border: 1px solid #222027;
  box-shadow: 1px 2px 8px -1px rgba(7,7,7,0.74);
  border-radius: 10px;
  padding: 10px;
}

.day-number:hover{
  background-color: #e46c6c;
  border-radius: 5px;
}

.day-number.other-month {
  color: #555555;
}

.day-number.today {
  background-color: #e46c6c;
  border-radius: 5px;
}

.background.menu {
  background-color: #15141b;
  border: 1px solid #222027;
  box-shadow: 1px 2px 8px -1px rgba(7,7,7,0.74);
  padding: 10px;
}

check {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

check:checked {
  background-color: #e46c6c;
  border: 1px solid #e46c6c;
}
